@model BlogApp.Data.Dto.User.PasswordResetDto
@{
    ViewData["Title"] = "Password Reset";
    var create = "Create";
    var wantToCreateNewPassword = "Want to create new password?";

}

<div class="text-center text-sm text-gray-600">
    <form asp-action="PasswordReset" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Email" value="@Model.Email" />
        <input type="hidden" asp-for="ConfirmEmail" value="@Model.Email" />
        @wantToCreateNewPassword
        <button type="submit" class="text-blue-600 hover:text-blue-800 font-medium cursor-pointer">
            @create
        </button>
    </form>
</div>