@model BlogApp.Data.Dto.User.PasswordResetDto

<div class="text-center text-sm text-gray-600">
    <form asp-action="PasswordReset" method="post">
        <input type="hidden" asp-for="Email" value="@Model.Email" />
        <input type="hidden" asp-for="ConfirmEmail" value="@Model.Email" />
        Want to create new password?
        <button type="submit" class="text-blue-600 hover:text-blue-800 font-medium cursor-pointer">
            Create
        </button>
    </form>
</div>