@{
    ViewBag.Title = "Email Confirmed";
    var pageTitle = "Email Successfully Confirmed!";
    var message = "Your email address has been verified. You can now log in to your account.";
    var goHomeText = "Go to Login";
}

<div class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <i class="fa-solid fa-envelope-circle-check text-8xl font-extrabold animate-bounce"></i>
    <h2 class="text-2xl text-primary-700 mt-4">
        @pageTitle
    </h2>
    <p class="mt-2 font-semibold text-primary-500">
        @message
    </p>
    <a asp-action="Login" asp-controller="Account"
       class="mt-6 inline-block bg-primary-700 text-white px-4 py-2 rounded hover:bg-primary-400 transition duration-300">
        @goHomeText
    </a>
</div>
