@using BlogApp.Data.Constants
@model BlogApp.Data.Dto.User.LoginDto
@{
    var title = "Login";
    ViewData["Title"] = title;
    var login = "Log in";
    var registerNow = "Register Now";
    var reset = "Reset";
    var forgotPassword = "Forgot Password?";
}

<div class="max-w-md mx-auto p-8 bg-white rounded-lg shadow-lg mt-10 ">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">@title</h1>

    <form asp-action=@ControllerConstants.Login asp-controller=@ControllerConstants.Account method="post" class="space-y-5">
        @Html.AntiForgeryToken()

        <div>
            <label asp-for="Credentials" class="block text-sm font-medium text-gray-700 mb-1"></label>

            <input asp-for="Credentials"
                   class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                   placeholder="Enter credentials" />
            <span asp-validation-for="Credentials" class="text-sm text-red-600 mt-1"></span>
        </div>

        <div>
            <label asp-for="Password" class="block text-sm font-medium text-gray-700 mb-1"></label>
            <input asp-for="Password" type="password"
                   class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                   placeholder="Enter your password" />
            <span asp-validation-for="Password" class="text-sm text-red-600 mt-1"></span>
        </div>

        <div class="pt-2">
            <button type="submit"
                    class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer">
                @login 
            </button>
        </div>

        <div class="text-center text-sm text-gray-600">
            New to the Blog App?
            <a asp-action=@ControllerConstants.Register asp-controller=@ControllerConstants.Account class="text-blue-600 hover:text-blue-800 font-medium">
                @registerNow
            </a>
        </div>
        <div class="text-center text-sm text-gray-600">
            @forgotPassword
            <a asp-action=@ControllerConstants.PasswordReset asp-controller=@ControllerConstants.Account class="text-blue-600 hover:text-blue-800 font-medium">
                @reset
            </a>
        </div>

    </form>
</div>