@model BlogApp.Data.Dto.User.LoginDto

<div class="max-w-md mx-auto p-8 bg-white rounded-lg shadow-lg mt-10 ">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Login</h1>

    <form asp-action="Login" asp-controller="Account" method="post" class="space-y-5">
        @Html.AntiForgeryToken()

        <div>
            <label asp-for="Credentials" class="block text-sm font-medium text-gray-700 mb-1"></label>

            <input asp-for="Credentials"
                   class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                   placeholder="Enter credentials" />
            <span asp-validation-for="Credentials" class="text-sm text-red-600 mt-1"></span>
        </div>

        <div>
            <label asp-for="Password" class="block text-sm font-medium text-gray-700 mb-1"></label>
            <input asp-for="Password" type="password"
                   class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                   placeholder="Enter your password" />
            <span asp-validation-for="Password" class="text-sm text-red-600 mt-1"></span>
        </div>

        <div class="pt-2">
            <button type="submit"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors hover:cursor-pointer">
                Log in
            </button>
        </div>

        <div class="text-center text-sm text-gray-600">
            New to the Blog App?
            <a asp-action="Register" asp-controller="Account" class="text-blue-600 hover:text-blue-800 font-medium">
                Register Now
            </a>
        </div>
        <div class="text-center text-sm text-gray-600">
            Forgot Password?
            <a asp-action="PasswordReset" asp-controller="Account" class="text-blue-600 hover:text-blue-800 font-medium">
                Reset
            </a>
        </div>

    </form>
</div>