@using BlogApp.Data.Helpers.Mapper
@using BlogApp.Data.Constants

@model PaginatedList<BlogApp.Data.Dto.Article.ArticleListDto>

@{
    var title = "My Articles";
    ViewData["Title"] = title;

    var articlesList = Model.Items;
    var createNew = "Create New";
}

<div class="container mx-auto px-4 py-8 ">
    <header class="mb-8">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-800 tracking-tight relative inline-block">
                @title
                <span class="absolute -bottom-2 left-0 w-full h-1 bg-gradient-to-r from-blue-500 to-indigo-500 rounded-full"></span>
            </h1>
            <a asp-action=@ControllerConstants.CreateArticle asp-controller=@ControllerConstants.Article class="bg-primary-500 hover:bg-primary-600 text-white font-semibold py-2 px-4 rounded cursor-pointer">
                @createNew
            </a>
        </div>
    </header>
    <div class="grid w-full">
        @foreach (var article in articlesList)
        {
            @await Html.PartialAsync("_ArticleCard", article)
        }
    </div>
    @await Html.PartialAsync("_Pagination", Model)
</div>
