@using BlogApp.Data.Constants
@model BlogApp.Data.Dto.RoleRequest.RoleRequestListDto

@{
    var delete = "Delete";
    var roleRequestDeleteId = "roleRequestDeleteModal" + Model.Id;
    var roleRequestDeleteIdLabel = "roleRequestDeleteModalLabel" + Model.Id;
    var title = "Delete Role Request";
    var message = "Are you sure you want to delete this role request?";
    var confirmUrl = Url.Action(ControllerConstants.DeleteRoleRequest, ControllerConstants.RoleRequest, new { roleRequestId = Model.Id });
}

<div class="p-4 bg-white rounded-xl shadow-md transition-shadow border border-gray-100 mb-4">
    <div class="flex items-center justify-between gap-3">
        <div class="px-3 py-1.5 font-medium bg-blue-100 text-blue-800 rounded-full shadow-sm border border-gray-200 transition-all">
            <span>@Model.RoleName</span>
        </div>
            <button type="submit"
                    onclick="openModal('@roleRequestDeleteId')"
                    class="text-red-600 hover:text-red-800 transition-colors font-medium cursor-pointer">
                @delete
            </button>
    </div>
    @{
        var logoutModal = new BlogApp.Models.ConfirmationModalViewModel
            {
                ModalId = roleRequestDeleteId,
                ModalIdLabel = roleRequestDeleteIdLabel,
                Title = title,
                Message = message,
                ConfirmUrl = confirmUrl!
            };
    }

    @await Html.PartialAsync("ConfirmationModal", logoutModal)

</div>
